
@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Content/VideoGallery.js"></script>
<h2>Index</h2>
<h1>Welcome to VideoGallery Page !!</h1>

<input type="text" id="txtTitle" placeholder="Please enter the title" />
<br />
<input type="text" id="txtYouTubeUrl" placeholder="Please enter the youtube url" />
<br />
<input type="text" id="txtType" placeholder="Please enter the type" />
<br />
<input type="text" id="txtCreateDate" placeholder="Please enter the createDate" />
<br />
<input type="text" id="txtUpdateDate" placeholder="Please enter the UpdateDate" />
<br />
<input type="text" id="txtCreatedby" placeholder="Please enter the id" />
<br />
<input type="text" id="txtUpdatedby" placeholder="Please enter the id" />
<br />
<input type="submit" id="btnSubmit" value="Submit" onclick="saveVideoGallery()" />