
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout - Admin.cshtml";
}
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Content/Activity.js"></script>
<h2>Index</h2>
<h1>Welcome to Activity PAge !!</h1>

<input type="text" id="txtTitle" placeholder="Please enter the title" />
<br />
<input type="text" id="txtDetails" placeholder="Please enter the Details" />
<br />
<input type="text" id="txtImage1" placeholder="Please enter the image1" />
<br />
<input type="text" id="txtImage2" placeholder="Please enter the image2" />
<br />
<input type="text" id="txtType" placeholder="Please enter the type" />
<br />
<input type="text" id="txtDate" placeholder="Please enter the Date" />
<br />
<input type="text" id="txtCreateDate" placeholder="Please enter the createDate" />
<br />
<input type="text" id="txtUpdateDate" placeholder="Please enter the UpdateDate" />
<br />
<input type="text" id="txtCreatedby" placeholder="Please enter the id" />
<br />
<input type="text" id="txtUpdatedby" placeholder="Please enter the id" />
<br />
<input type="submit" id="btnSubmit" value="Submit" onclick="saveActivity()" />


